<div class="container">
  <form method="post" action="/profile">
    <input type="text" name="email" placeholder="your email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value='Login'>
  </form> 
</div>
